[2016-04-14 17:40] dpereira411 opened #1 "not re-rendering on redux"
its not working with redux, the reducers are not re-rendering the component

I'm using the default configuration and any actions that i trigger on the container are only presented to the screen after a window resize.

[2016-04-14 20:01] ctrlplusb commented on #1
Any chance you could share your configuration or an example of this. I'm happy to debug and fix it for you.

[2016-04-14 21:57] ctrlplusb commented on #1
Had a think. Yep this is my issue. As a temp fix change your code so that the SizeMe HOC call is the last in your compose stack.

E.g.

[code]

I'll release a fix tomorrow. Out celebrating Liverpool's epic win! :-D

[2016-04-14 22:35] dpereira411 commented on #1
thanks :) congratulations, great club and and great game

[2016-04-15 06:12] #1 closed

[2016-04-15 06:20] ctrlplusb commented on #1
Thanks!

All sorted on your bug.  Thanks for the report! 💖

[2016-04-15 06:21] ctrlplusb opened #2 "Size does not update if wrapped component renders a completely diff root element."

[2016-04-15 09:28] larrydahooster opened #3 "PropType Validation fails"
Hey, I tested your library and it works pretty good so far. Anyhow I get the following error on initialization:

I checked the code and you set
[code]

but width and height are undefined in the first runs (which is pretty much the intended functionality).

![bildschirmfoto 2016-04-15 um 11 20 17](https://cloud.githubusercontent.com/assets/4989851/14557196/5b4721fa-02fc-11e6-8a66-a29885043e3c.png)

[2016-04-15 11:19] dpereira411 commented on #1
thanks :)

[2016-04-15 12:07] ctrlplusb commented on #3
Well spotted sir thank you. Hmmm, I need to get my test environment to throw on warnings. I'll look into that. Expect a patch today.

Much appreciate the time you took to test this for me.

[2016-04-15 12:23] ctrlplusb commented on #2
Will add a test case for this.

[2016-04-15 13:12] ctrlplusb commented on #3
Sorted thank you! 💖

[2016-04-15 13:12] #3 closed

[2016-04-15 13:12] ctrlplusb commented on #2
False positive yay! 😆

[2016-04-15 13:12] #2 closed

[2016-04-15 13:31] larrydahooster opened #4 "Decouple initial re-render onComponentDidMount delay from refreshRate"
Hey it is me again with a feature request/proposal. I was positively surprised that react-sizeme comes with a refresh rate, as I need to debounce the re-rendering cause of heavy computations caused by some highcharts I use.

So I simply set the refreshRate to 300ms and it worked quite perfect for me. But than I figured out, that the first re-rendering after componentDidMount, which replaces the pl

[2016-04-15 14:42] ctrlplusb commented on #4
Not you again! :)

Will certainly accept a PR for this and add you to the contributors list.

In regards to this issue I actually did think I had put something in place to do exactly what you are after, but looking at my implementation it is completely wrong.  I used to use a streaming library for this when it was attached to a larger project.  It made this type of thing really easy to manage, but

[2016-04-15 15:53] larrydahooster commented on #4
Hey thanks for your reply. I think I am gonna look at it starting of next week. Have a nice weekend.

[2016-04-18 11:19] ctrlplusb commented on #4
@larrydahooster are you still up for this?  I've actually thought up a solution.  I'm in need of this myself now so if you are stacked up I can pick this up.  Thanks

[2016-04-18 11:26] larrydahooster commented on #4
Hey, not yet started working on that. So if you have any idea, just do it :)

[2016-04-18 11:53] ctrlplusb commented on #4
Doh!  Implemented a complex handler.  Then read the lodash docs properly for `throttle`. It does leading and tail execution.  Thats all we need.  Removed the `debounce` and it works. 😊

[2016-04-18 12:24] #4 closed

[2016-04-18 18:58] larrydahooster commented on #4
Hey thanks for your changes. I always was wondering why you combined debounce with throttle. Nice that you changed it to throttle. I always was used to debounce, but throttle seams to be a nice alternative. I will stick to this right now and see later on, if I need to switch to debounce to save some performance. :) Thanks for your efforts!

[2016-04-19 11:50] ctrlplusb commented on #4
No problem, yeah I think it was late at night when I decided to combine the two!
Happy that I have at least put `throttle` on your radar. It's awesome to have the option of them.  `lodash` is too awesome. :)

[2016-05-12 16:47] emiloberg opened #6 "Cannot read property 'insertBefore' of null"
As I work in an enterprise portal environment I have to deliver my React bundles in a quite unorthodox way.

I attach the Webpack build bundle to the window object. The `output` property of my Webpack config looks a little bit like this:
[code]

I then pick up the component from the window object (e.g. `window.reactComponents.myStuff123`) and render the React component as such:

[code]

However, a

[2016-05-14 10:02] ctrlplusb commented on #6
Hmmm, am struggling to think why this is. Could you please link me to the package that is consuming react-sizeme'?

[2016-05-16 10:40] ctrlplusb commented on #6
Or a sample project that I could use for debugging... :)

[2016-05-16 16:29] ctrlplusb commented on #6
I've just done a patch release which includes a fix for event listener race condition issues with unmounted components.  It may help your case, please try and let me know.

https://github.com/ctrlplusb/react-sizeme/releases/tag/v2.0.1

[2016-05-17 14:09] lyuzashi opened #7 "Figure out the SSR story"
I have been attempting to implement support for SSR. So far, the only semi-working solution I could come up with involves avoiding calling `createResizeDetector` if the window object is undefined.

My fork is here https://github.com/lyuzashi/react-sizeme/commit/1242009b424f9c0ab54aa0ecd5e815a20fbbdff8

Doing so will prevent any errors, however components that are wrapped by SizeMe are not included

[2016-05-17 23:08] tonyxiao commented on #6
Seeing a similar issue as well.

[2016-05-18 18:36] ctrlplusb commented on #6
@tonyxiao any chance you could throw up a sample project for me? I'm more than happy to debug the issue.

[2016-05-18 19:35] ctrlplusb commented on #6
@tonyxiao I see you have forked and attempted to lazy load the resizer.  Did it have any effect on the issue?

[2016-05-18 20:27] ctrlplusb commented on #7
Hi @lyuzashi

I'm happy for us to try and figure out the best story here for execution within an SSR environment.

Firstly, it will be good to know your intentions in using SSR. Is it for time-to-render performance or SEO concerns (or other)? Secondly, how are you using the dimension data that `react-sizeme` provides to your component, e.g are you intending to use the data to manifest your compone

[2016-05-19 03:39] tonyxiao commented on #6
@ctrlplusb yes that fixed the issue for me. I haven't figured out "why" it fixes the issue other than it does :P

[2016-05-19 03:40] tonyxiao commented on #6
It crashes even at import time due to importing an external package `element-size-monitor` (or something like that, forgot the exact name)

[2016-05-19 03:40] tonyxiao commented on #6
WIll see if I can get a super clean example later.

[2016-05-19 04:52] ctrlplusb commented on #6
@tonyxiao great to know.  Thanks for looking into this, I think I understand what is going on now.  Don't worry about a sample project.  I think we can move forward with this fix. Are you happy to send a PR?

[2016-05-19 06:25] lyuzashi commented on #7
Hey @ctrlplusb

Thank you for your very detailed and thoughtful response.

My initial intention was to use SizeMe in tandem with [Component Queries](https://github.com/ctrlplusb/react-component-queries) to superficially adjust component styling, such as position and display properties. Not exactly a different form, but yes, the component would appear differently.

I completely understand the conce

[2016-05-19 08:38] ctrlplusb commented on #6
There was a patch release available for `element-resize-detector` so I have updated `react-sizeme` and have done a release.

[2016-05-19 09:06] ctrlplusb commented on #7
Thanks for getting back to me with with a detailed response, as well as for taking the time to spike out a patch.  This is super helpful to me.

+1 to the idea of being able to skip the Placeholder render for an SSR context.

What do you think about the idea of us making an internal `usePlaceholder` boolean flag that checks for the existing of `window` (i.e. running on client).  If `window` doesn'

[2016-05-20 04:19] lyuzashi commented on #7
You're most welcome and thank you for your continued support of `sizeMe` and its further development.

My initial thoughts were to do just that – automatically skip placeholder when `window` doesn't exist. This is, however, where I ran into problems with checksum.

I've updated my fork (https://github.com/lyuzashi/react-sizeme/commit/6bf17009c1b551621dc2dbd23bd9f8f162a6b769) to use an internal `us

[2016-05-20 06:33] ctrlplusb commented on #7
👍

Great, thanks for this insight.  I'll make some time this w/end to have a look at your fork and see if I can figure out something in regards to the placeholder checksum issue.

[2016-05-20 19:33] tonyxiao commented on #6
Sweet, thank you @ctrlplusb for being so responsive!

[2016-05-20 19:42] ctrlplusb commented on #6
No probs. :)  Thanks for your help! :)

Just to be clear my recent change doesn't include your changes.  Are you happy to proceed with a PR?  I don't mind completing it either if you have your hands full.

[2016-05-21 02:18] tonyxiao commented on #6
Yep created. https://github.com/ctrlplusb/react-sizeme/pull/8

[2016-05-21 06:19] #6 closed

[2016-05-21 06:20] ctrlplusb commented on #6
Thanks @tonyxiao!

[2016-05-21 07:55] ctrlplusb commented on #7
Hi @lyuzashi

I've created a branch in which I have tried out what we discussed.

https://github.com/ctrlplusb/react-sizeme/tree/issue_7

[2016-05-21 08:36] lyuzashi commented on #7
Excellent @ctrlplusb!

Your code is much neater than my attempt.

The lazy loading of `resizeDetector` (thanks #6) also avoids checking for window there, which is great!

I might be wrong, but I don't think React runs `componentDidMount` or `componentDidUpdate` on the server, so there shouldn't be a need to wrap them in `if` statements.

Let me know how things go with the checksum. I put some thou

[2016-05-21 08:56] ctrlplusb commented on #7
😀👍

Very good point! I've set up my test incorrectly then. I'll need to modify it to better represent an SSR environment.

I think I may have cracked the case but I am out for the rest of the day. Will probably do another commit for your review tomorrow.

[2016-05-22 06:53] ctrlplusb commented on #7
Morning @lyuzashi

I have pushed another change. :)

There is now a global flag attached to the SizeMe function which allows you to opt in to the SSR behaviour.  In the initialisation phase of your application you need to set it like so:

[code]

This will then allow us to duplicate the behaviour on client/server and avoid any checksum issues.

Would you mind trying it out for me and letting me kn

[2016-05-22 17:41] ctrlplusb opened #9 "Stabilise the demo"
Not sure if the issue lies with the provider.  May need to consider a stabler alternative.

[2016-05-22 22:54] lyuzashi commented on #7
Hey @ctrlplusb

I've just had a chance to look at this. The flag works just as expected in my test set up. Nice work!

No problems in any of my tools either.

I'd be very happy to see this option to be merged into master. Would be great to revisit enabling this flag automatically too. I might have another look later down the track but in the mean time setting `enableSSRBehavior` works a treat.

Th

[2016-05-23 09:05] #7 closed

[2016-05-23 09:44] ctrlplusb commented on #9
Might have been an early version of `now` issue.  Seems fine with a new deployment.

[2016-05-23 09:44] #9 closed

[2016-05-23 11:14] ctrlplusb commented on #7
Thanks for your help with this @lyuzashi!

[2016-05-23 11:16] ctrlplusb commented on #7
In regards to the automatic setting of the variable... I did have a think about this but it is really hard to do.  We can easily check for an SSR environment whilst on the server, but then we need to send back some sort of state to the client that indicates that we did in fact run in SSR.  Tricky.

If the React libs somehow expose this fact maybe we could leverage that?

[2016-05-23 22:53] lyuzashi commented on #7
Was my pleasure @ctrlplusb! And thanks for the shoutout and the detailed docs you wrote up for the feature.

From my small exploration, I too, could see that it would be really difficult to automatically detect when to enable this behaviour. I didn't find anything in the React libs, but I'd agree that is probably how the state should be transferred.

Thanks again!!

[2016-05-31 17:30] ctrlplusb opened #11 "Proposal: expose element position properties along with dimensions."
So instead of just width and height we could pass along top, left, bottom and right.

[2016-06-07 16:48] mjtamlyn opened #12 "Expose a reference to the wrapped component"
It would be useful if we could access functions of the original component. It's an usual requirement, but it is a [documented pattern](https://facebook.github.io/react/tips/expose-component-functions.html).

I think the easiest way to achieve this is to make sure that the `SizeMe` container has a `ref` to the component passed into it. That way the parent of the `SizeMe` wrapper can call `this.refs

[2016-06-07 19:56] ctrlplusb commented on #12
Yep, sounds reasonable.  Just fleshing out how to add this to the API.  I am thinking of making it an opt-in behaviour.

[2016-06-08 09:11] mjtamlyn commented on #12
Thinking about it, as it isn't a dom node component it doesn't necessarily need to be a ref of the wrapping component, could just be an attribute with a functional ref which updates it.

[2016-07-22 16:51] arbesfeld opened #20 "Position absolute on container div"
Hi! It seems like wrapping a div in `sizeMeHOC` causes the outermost div to have a `style: position='relative` attribute to be attached. This conflicts in cases where we set the position via a class on the outermost div.

Here is a "pseudo" reproduction:

[code]

[2016-07-25 06:32] ctrlplusb commented on #20
Hi @arbesfeld!

Thanks for the report.  I'll look into this case.

[2016-07-25 06:47] #20 closed

[2016-08-16 11:35] kachkaev opened #74 "Optional clamping for reported width and height"
Hey Sean,

Thanks a lot for your component – it saved me a couple of hours of life :–)

Not sure you would want to take this on board, but here is a thought that came to me when I was using [Mapbox GL](https://github.com/uber/react-map-gl ) wrapped into `react-sizeme`. There was an issue when my container div shrunk to 0 – WebGL immediately threw a nasty error because the viewport had to be at lea

[2016-08-19 07:09] ctrlplusb commented on #74
Hi! Thanks for this.

I've just gotten back from an intense holiday :)

I'll review this when I have gathered the pieces. :)

[2016-08-22 10:04] ctrlplusb commented on #74
Hi @kachkaev

Let me see if I am understanding this correctly.

- You have a _Mapbox GL_ component which is wrapped by a _SizeMe_ component.
- During the rendering cycles of the _Mapbox GL_ component there is a case where the container is 0 in height/width, which then get provided to the _Mapbox GL_ component.
- You are then using these provided width/height values within the _Mapbox GL_  componen

[2016-08-22 10:15] kachkaev commented on #74
Yep, exactly. I pass width and height from `sizeMe` as props to `<Map />`. If these numbers are zero, the map component crashes. This is why I introduce another higher-order component `sizeMeFix`, which sits between `sizeMe` and the map container (`MySuperMap`) and guards the map from receiving zeros.

My suggestion is about adding optional boundaries to the reported width and height in `sizeMe`.

[2016-08-23 09:39] slorber opened #82 "add "mapDimensionsToProps" option"
Hi,

Current implementation seems great. However often our wrapped component will often use width / height to define "breakpoints" from which the component should render differently according to its size.

A problem with current implementation is that it injects width/height directly to wrapped component, so each time the dimensions changes, the wrapped component will generally re-render because o

[2016-08-23 09:44] slorber commented on #82
Erf just found out about your solution to this problem: https://github.com/ctrlplusb/react-component-queries

[2016-08-23 09:44] #82 closed

[2016-08-23 14:16] ctrlplusb commented on #74
Okay sweet.

Hmmm, I definitely don't want to consider adding this "clamping feature" to this library as I feel it's very use case specific.  What I would instead recommend is that you create your own HOC, for example `ClampedSizeMe`, that simply wraps the default `SizeMe` HOC and ensures that your requirements are implemented.  Then you can simply import and use the `ClampedSizeMe` HOC instead of

[2016-08-23 14:26] kachkaev commented on #74
OK, makes sense. `sizeMeFix` in my example was an attempt to implement that `ClampedSizeMe` component, just thought that integrating the feature into the original one can make the code cleaner. Hope that your discussion here helps others!

[2016-08-23 14:27] #74 closed

[2016-08-23 14:27] ctrlplusb commented on #74
For example...

`ClampedSizeMe.js`

[code]

Then use it like so:
[code]

[2016-08-23 14:29] ctrlplusb commented on #74
@kachkaev see the example above :)

Thanks for bringing this up!  I am sure it will definitely help someone else with a similar issue. :)

[2016-08-23 14:31] ctrlplusb commented on #82
I probably should add this to the readme though...

[2016-08-23 15:22] ctrlplusb commented on #82
I've updated the [docs](https://github.com/ctrlplusb/react-sizeme#react-component-queries-a-useful-abstraction)

Thanks! 💖

[2016-08-23 15:52] slorber commented on #82
great :)

[2016-09-01 11:13] peterjwest opened #97 "Support for debounce"
Can you add support for debounce as an alternative to throttling? This can be useful for a smoother resize experience and reduced recalculation thrashing.

[2016-09-01 11:20] ctrlplusb commented on #97
It's definitely something I could consider.  Toggling the refresh mode between debounce and throttle.

[2016-09-08 18:28] ctrlplusb opened #98 "Maintain the root element at all times."
I've been using `react-sizeme` to render an appropriate component based on the real estate available.  One common pitfall with this use case is having your render switch out the root element completely.

For example:

[code]

Don't do this.

If you do you may get issues with the ref handler that `react-sizeme` uses to monitor your components dimensions with.  Instead, always have a root element in

[2016-09-12 15:05] ctrlplusb commented on #97
@peterjwest this is coming soon. :)

[2016-09-12 21:28] ctrlplusb commented on #97
@peterjwest good to go! :) v2.2.0

[2016-09-12 21:28] #97 closed

[2016-09-13 07:55] nomcopter opened #99 "`refreshMode: 'debounce'` delays first render significantly."
It should not wait to read the size from the DOM for the first render.

[2016-09-13 08:34] ctrlplusb commented on #99
You can disable the placeholder render feature by setting the global flag:

[code]

That's a good caveat you caught in regards to switching out to debounce.  I'll have to amend the docs.

[2016-09-13 08:35] ctrlplusb commented on #99
I am also going to consider creating an alias to the above property. Something like `enablePlaceholderRender`...

Will give it some thought.

[2016-09-13 08:43] nomcopter commented on #99
Hmm, could work. Is that better than explicitly checking the size and bypassing `refreshDelayStrategy` on the first render?

[2016-09-13 10:02] ctrlplusb commented on #99
I am going to give this one some thought and some time to simmer.  I have a use case in my own project for the use of debounce so I'll get a first hand sense of the issues around the current implementation.  I may need to consider some further configuration options, but definitely want to try and keep things as simple as possible.

[2016-09-13 11:45] peterjwest commented on #97
Amazing! thanks.

[2016-09-14 07:57] ctrlplusb commented on #12
I haven't had any further requests on this so I am going to close this for now.

[2016-09-14 07:57] #12 closed

[2016-09-14 09:37] nomcopter commented on #99
The workaround is working well for me, thanks for the quick response!

[2016-09-14 17:19] JaneCoder opened #100 "Need to call a function on a wrapped component"
Hello,

Thanks for this product!

I have a component that I need to call a data refresh method on when it is unhidden from a view.  Wrapping it in sizeme was great for helping it to size correctly, but now I can't access it to call the refresh because the object is now a resizeme thing, instead of the old component with the refresh function.

How can I send a message to the object inside sizeme?

[2016-09-14 18:50] ctrlplusb commented on #100
Haha, the universe is cruel!  I just closed a related issue (#12) today as it didn't get a lot of attention.

I'll have to reconsider this.  Most likely I'll exposed the wrapped instance via a property.  Stay tuned..

[2016-11-08 13:29] ctrlplusb opened #101 "NOTICE: Holiday'ing for 3 weeks."
Some much needed family quality time.

I'll be leaving the laptop at home.

I still care, I just won't be able to reply until the 26th.

x

[2016-11-27 12:58] adi3112 commented on #100
I'm having the same problem, need to call a function inside of this Size me component.

[2016-11-29 17:32] #101 closed

[2016-12-05 14:44] nixegend opened #102 "Support for inner width and height."
It should be possible to track inner width and height.

[2016-12-11 17:48] alaindresse commented on #100
Here is a way to do it without changing sizeme: create your own 'ref' prop:

[code]

Then if you use
[code]
you can call `this.imageNode.getHeight()`

[2017-01-02 07:13] fckt opened #103 "Element position tracking"
First of all I want to say thanks for the great work, I love the idea! 👍

I thought to make similar thing, but found `react-sizeme` could be a pretty good fit in my case..

The question is: why not to add the position tracking also?.. I'm working on drag'n'drop example in [react-layer-stack](https://github.com/fckt/react-layer-stack) and I what I need is to track the actual positions and sizes of

[2017-02-17 18:08] rosskevin opened #104 "invalid element-resize-detector dist file causes minification errors"
`react-sizeme` depends on `element-resize-detector` and it currently fails minification with `babili` due to an error I reported over there: https://github.com/wnr/element-resize-detector/issues/71

This was a bit painful to track down because the code is obfuscated.

This is a production show-stopper for me; hoping for a quick resolution over there because I'm unfamiliar with browserify.  If some

[2017-02-18 18:29] chrisdrackett opened #105 "Render props pattern usage"
Have you ever considered having sizeMe work where you use a `<SizeMe>` component and it passes the size down as a prop? I think this method feels a bit more readable. ReactMotion does something like this.

[code]

[2017-02-21 12:31] ctrlplusb commented on #104
Hey @rosskevin please ping me when things with `element-resize-detector` get resolved. I want to give this library a maintenance round but will wait till then. x

[2017-03-28 16:07] ctrlplusb commented on #102
Hey @nixegend can you please expand upon your requirements here.  I am not quite following you. Thanks!

[2017-03-28 16:08] #103 closed

[2017-03-28 16:09] ctrlplusb commented on #103
Hey @fckt!

Thanks!  I finally got round to doing this.  Great idea thanks, and it opens up a world of opportunities.  I have yet to release it, but the release soon be soon.

[2017-03-28 19:29] #99 closed

[2017-03-28 20:16] #11 closed

[2017-03-28 20:23] ctrlplusb commented on #105
It's an interesting concept.  Although we would have to make the `SizeMe` component render out a `div` or something similar, which would then be measured and then it's size would be passed down into the render callback function.

Additional props could be applied to the div (outside of the expected SizeMe config props) - such as  className/style etc, and we could even support a `tag` prop so you c

[2017-03-29 13:47] Coobaha opened #106 "2.3.0 version imports lodsah"
2.3.0 main entry (commonjs) imports full lodash

https://github.com/ctrlplusb/react-sizeme/blob/master/commonjs/sizeMe.js#L23

[2017-03-29 15:19] ctrlplusb commented on #106
Ouch! Forgot to add the plugin! Thanks for the report!

[2017-03-29 19:21] #106 closed

[2017-04-03 19:09] chrisdrackett commented on #105
could `SizeMe` just clone its child and make sure that only a single child is ever sent?

[2017-04-03 19:46] ctrlplusb commented on #105
Yeah, that sounds like an option. 😀

I would love for us to explore this more.  Are you up for starting up a PR?

[2017-04-05 08:40] ismay opened #108 "Size in readme"
I was wondering whether the size of this lib, as reported in the readme, is still correct. For me, when only minified, this lib adds 148kB (when bundled separately, with webpack).

When testing the gzip compression with https://closure-compiler.appspot.com/home, I get the following gzip size:

[code]

So it compresses down to roughly 45kB gzipped. Now I'm assuming that the difference isn't just we

[2017-04-05 08:41] ctrlplusb commented on #108
Are you using the latest version?  It may be pulling across the whole of `lodash`?  I thought we did a fix for this recently.  Thanks for the report I will double check this.

[2017-04-05 08:41] ctrlplusb commented on #108
Yeah, something is defo up here!

Will add a high priority fix for this.

[2017-04-05 08:43] ismay commented on #108
Yep, using 2.3.1

[2017-04-05 14:24] ctrlplusb commented on #108
Hey @ismay

I just added this to a fresh project and did an analyze.  It added the expected overhead.

<img width="235" alt="screenshot 2017-04-05 14 49 11" src="https://cloud.githubusercontent.com/assets/12164768/24708591/3378faba-1a0f-11e7-8236-21095afd2b7d.png">

Are you using lodash at all in your project?

[2017-04-05 14:42] alexesDev opened #109 "Proposal: add refreshDelayStrategy config option"
Add `refreshDelayStrategy` config option, remove lodash dependency and recude a lib size.

[code]

We have a lot of dependencies in our projects. If each lib reduce size by few kb... its ~30*4=120Kb...

[2017-04-05 14:53] ismay commented on #108
Not in my own code (but probably in other libs). The problem probably lies elsewhere then, I'm running into a similar issue with styled-components, so I'm assuming it's not related to this lib. Thanks for the quick replies!

[2017-04-05 15:04] ctrlplusb commented on #108
No problem.  Good luck!

[2017-04-05 15:04] #108 closed

[2017-04-09 17:53] binchik opened #110 "Flex support"
Hello, thanks for your awesome work!

I cannot make `sizeme` work with flex positioning. I'm tracking width and the size is updated only if component gets wider. If it becomes narrower, size does not change.

[2017-04-09 18:05] ctrlplusb commented on #110
Hey @binchik, thanks!

Have you used the `monitorHeight: true` config? By default it doesn't monitor height or position - to avoid thrashing.

[2017-04-09 18:05] ctrlplusb commented on #109
Very interesting proposal!

[2017-04-09 18:21] binchik commented on #110
@ctrlplusb, I tried `monitorHeight: true`, got the same result :(. BTW, I'm using SSR (I set `noPlaceholder: true`). I switched flex to relative positioning and now everything works fine.

[2017-04-15 00:38] thearabbit opened #111 "How to set layout component height = window height?"
I would like to set my layout component height `Content` = windows height
[code]
Please help me.

[2017-04-17 23:32] jcrben commented on #102
Perhaps he's asking about a height calculation which includes the height of children?

I have an parent component with a height of about 1000px and it contains a child which has a height of 1800px. The parent component is actually https://github.com/STRML/react-grid-layout and these children are absolute, so it seems that I need to calculate the size of the grid and set its height to allow element

[2017-04-19 08:40] ctrlplusb commented on #111
You could use a css property for this. :)

[code]

Read more [here](https://css-tricks.com/forums/topic/viewport-height-for-full-screen-div/)

[2017-04-19 08:40] #111 closed

[2017-04-19 08:40] ctrlplusb commented on #110
Great, thanks for the feedback on this. Good to know.

[2017-04-19 08:40] #110 closed

[2017-04-19 08:57] thearabbit commented on #111
Thanks for your reply.
I will try soon.

[2017-04-25 07:59] RathanakSreang opened #112 "Fix PropTypes deprecated Warning"
When I try to use `react-sizeme`, it shows this warning in my console.
`Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`
So how can I fix it?
Here the code I implement.
[code]

[2017-04-25 08:13] ctrlplusb commented on #112
This is due to you using [React v15.5](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html)

Eventually this library and the reset of the eco system will catch up. Please see the linked blog post for more info.

[2017-04-25 08:13] #112 closed

[2017-04-25 08:14] ctrlplusb opened #113 "React v15.5 upgrade - i.e. prop-types"

[2017-04-26 09:53] ms88privat opened #114 "resize-observer-polyfill"
Did you hear of this one yet? What do you think about it?

https://github.com/que-etc/resize-observer-polyfill

[2017-04-26 15:59] chrisdrackett commented on #105
I am!

[2017-04-26 16:06] ctrlplusb commented on #105
Awesome! Shout if you need anything. 😊

[2017-04-26 16:14] chrisdrackett commented on #105
actually I might have spoken too soon, I'm going to take a look at https://github.com/souporserious/react-measure first, as it seems to support this format already and we have other components that also use it already.

Not that I'm against helping out, it just might not be right away 😊

[2017-05-03 10:44] felthy commented on #102
I came here looking for an option to track width without padding, a la `box-sizing: content-box` - perhaps that’s what @nixegend meant? It's what I want anyway! So in the example below (screenshot from Chrome devtools) I want sizeme to report `width: 420`, not `width: 460`.

![image](https://cloud.githubusercontent.com/assets/1940215/25657358/d49b631e-3040-11e7-961d-a4909711206c.png)

[2017-05-03 10:57] ctrlplusb commented on #102
Hey @felthy that makes sense yeah.  I don't know the specifics on `box-sizing` behaviour and the `element-resize-detector`.  Will have to see what options we have to us here.

[2017-05-03 11:10] felthy commented on #102
Oh sorry the `box-sizing` thing was not really relevant, I only mentioned it to try and explain which `width` I meant. `element-resize-detector` is already working fine for me, but for what I'm doing the width within the padding would be more useful for me. I've just been reading the code, I see you're using `getBoundingClientRect()` internally, so we’d probably need to subtract padding or somethi

[2017-05-10 20:24] kachkaev commented on #113
When about are you planning to look at this @ctrlplusb? Just curious :­-)

[2017-05-11 10:32] ctrlplusb commented on #114
Sounds great. Haven't had a chance to compare the two.  The size difference is appealing though.  Are you interested in creating a PR that explores this as an alternative?

[2017-05-11 10:42] ctrlplusb commented on #113
About 1 minute ago. 😘

[2017-05-11 10:42] #113 closed

[2017-06-21 16:09] Cristofori opened #117 "Position monitoring does not update when the window is resized"
The title says it all. The position properties are only refreshed when the element itself is resized, causing the position to go stale any time the window resizes.

[2017-06-26 08:31] ctrlplusb commented on #117
Thanks for the report!

[2017-07-18 12:56] wojciech-skowronek opened #118 "The observer stops working when component content is replaced"
The observer stops working when component content is replaced. This may be an issue especially with simple (e.g. text only) components.

My component looks like:
[code]
When state changes it will replace text and also remove `.erd_scroll_detection_container` element. There s error message and it makes it quite hard to debug. Simple solution is to wrap this.state.truncatedText in one more element e

[2017-07-18 13:35] ctrlplusb commented on #118
Yeah please see #98

Happy to accept a PR to add this to the readme. 👍

[2017-07-27 16:06] pinkynrg commented on #102
+1 It would be really nice to have this feature!

[2017-08-01 17:32] sanpoChew opened #119 "nextProps and this.props always have the same size properties"
I was originally trying to use react-component-queries but I noticed that my queries were only ever run once on first render, after then trying to implement my own version of it using shouldComponentUpdate and react-sizeme I ran into this issue which seems to be the root of my original problem. I'm not that good with Chrome Devtools but it _seems_ that when strategisedSetState is called that is al

[2017-08-02 09:46] ctrlplusb commented on #119
Hmmm, does this issue only appear on the server render? If not any chance of creating a minimal reproduction using something like codesandbox.io?  Thanks!

[2017-08-02 09:48] ctrlplusb opened #120 "Pitfalls when using flex layouts"
The behaviour of element-resize-detector causes a div to be injected which helps with tracking.  Unfortunately this can break your flow layouts.  To resolve you need to create a wrapping div around the flow layout div.

[2017-08-02 10:30] sanpoChew commented on #119
@ctrlplusb it's not just the server render, I'll try and get something up today. Just a quick thought though, do you think the fact we're using preact could be an issue?

[2017-08-02 10:48] sanpoChew commented on #119
@ctrlplusb So I seem to have found the issue, changing the render function of SizeAwareComponent to make a copy of this.state and pass that as props to SizeMeRenderWrapper instead of just passing down this.state directly seems to fix it. I'm guessing that it was Preact handling things slightly different that may have caused this issue? I'm happy to submit a merge request if you'd like. Thanks!

[2017-08-02 11:23] ctrlplusb commented on #119
Hi @sanpoChew

I am always open to PR's that address issues. Thank you very much for taking the time to identify the issue and come up with a possible solution! ❤️

[2017-09-08 14:50] howardya opened #123 "Default monitorHeight to true?"
Would it be more intuitive this way?

I was having trouble wondering why my size.height does not get updated only to figure out it is not monitored by default.

Thanks for this package.

[2017-09-27 21:06] valmassoi opened #124 "React 16 support"
`error "react-sizeme#react@^0.14.0 || ^15.0.0-0" doesn't satisfy found match of "react@16.0.0"`

[2017-10-02 07:54] luisatmaniak commented on #124
Are there any known problems besides that error?

[2017-10-02 14:26] ctrlplusb commented on #124
No known issues, sorted via #125

[2017-10-02 14:26] #124 closed

[2017-10-04 07:36] silverlight513 opened #126 "getComputedStyle passed undefined"
When using the react-component-queries package I get the following error. The package works as expected but I'm getting an error I'd rather not have in my console.

![image](https://user-images.githubusercontent.com/4225358/31163753-daca5948-a8db-11e7-9814-c823f629337b.png)

If you look at the screenshot below, you can see that the Container element (which I'm assuming is the placeholder you use)

[2017-10-04 17:08] JaneCoder commented on #100
@alaindresse thanks! and how would you get a handle on the wrapped object in a jest test?

[2017-10-04 17:10] JaneCoder commented on #100
PS, my component does a

module.exports = sizeme()(MyComponent);

So it comes wrapped everywhere right now.

[2017-10-04 19:31] ctrlplusb commented on #100
Hey @JaneCoder

IMO you have two options.

1. Use the `WrappedComponent` that we provide on all `sizeMe` wrapped components.

// MySizedComponent.test.js
[code]

2. Export your raw component as well as the `sizeMe` wrapped component.

// MySizedComponent.js
[code]

// MySizedComponent.test.js
[code]

Personally I prefer option number 2 as it's less likely to break should you wrap your component wi

[2017-10-04 19:45] JaneCoder commented on #100
Sweet. Thanks. I did not know I could grab the wrapped component like that.
You rock!

And Redux is going to make me like idea #2 a lot as well.

[2017-10-25 14:27] #119 closed

[2017-10-27 18:35] Ribesg opened #128 "Basic example not working"
I was trying to use react-sizeme in my project and it didn't work.

So I tried setting up a basic working sandbox, and it doesn't work either.

What am I missing?

https://codesandbox.io/s/pwlyw09kxj

[2017-10-29 07:20] ctrlplusb commented on #128
Ah, this looks like an issue with the way you have set up your styles. You were "fixing" the dimensions of your box.  I adapted it to make it responsive.

https://codesandbox.io/s/48n005q5nx

i.e. I changed

[code]

to

[code]

[2017-10-29 07:20] #128 closed

[2017-10-29 15:54] Ribesg commented on #128
I managed to make a working example: https://codesandbox.io/s/zr5r1qq6np

What I didn't understand is that react-sizeme detects resizes of the root of your component by the browser, so fixing the size of the root component does not work!

[2018-01-05 12:10] xaviergonz opened #130 "Typescript definitions"
Could there be any typescript definitions?

Right now I made the following in my own code to create them, but it would be cool if they were on the package:

[code]

[2018-03-19 15:26] GlennGeenen opened #131 "Memory Leak"
We use react-sizeme in a large application and resizeDetector stays in memory (it is a singleton). The result is that all react-sizeme children stay in memory and the retained memory from resizeDetector becomes larger and larger. We forked react-sizeme to create resizeDetector in the wrappedComponent so that resizeDetector is removed when the wrappedComponent is unmounted.

Do you have a reason to

[2018-03-23 16:51] ctrlplusb commented on #131
Hey @GlennGeenen, thanks for raising this!

Interesting that you are experiencing memory leaks.  Do you think that the removeListeners are failing to be called for component unmounts?

I made it a "singleton" as I had assumed that having multiple instances of the resize detector may cause perf issues. Have you been able to test your modification against a large amount of tracked components?

[2018-03-23 16:52] ctrlplusb commented on #130
Create a PR, I am happy to accept! 😀

[2018-03-23 16:52] ctrlplusb commented on #126
Adding safety guards is always a good thing 👍

[2018-03-23 16:54] ctrlplusb commented on #123
Height is more likely to experience changes in dimension as content loads in from the server etc. Therefore I thought it would be best to opt in so that it is more considered. 👍

[2018-03-23 16:54] #123 closed

[2018-03-23 17:33] GlennGeenen commented on #131
The problem is that as long as a react-sizeme component exists in memory it won't release the resize detector (what means in most cases it stays in memory all the time). In theory it's no problem to have resizeDetector in memory since it should remove all listeners. We tried several things to fix the element-resize-detector uninstall without any success. So the way we solved it is by just throwing

[2018-03-28 17:10] joeyJsonar opened #132 "Module not found: lodash/debounce and lodash/throttle"
In kibana 6.2.2, I'm getting:

[code]

This was fixed if I went inside ./node_modules/react-sizeme/dist/react-sizeme.js and change the import of "lodash/debounce" and "lodash/throttle" to "lodash.debounce" and "lodash.throttle", respectively.

[2018-03-28 22:17] joeyJsonar commented on #132
Pull request at https://github.com/ctrlplusb/react-sizeme/pull/133

[2018-03-29 09:05] ctrlplusb commented on #132
❤️

[2018-03-29 09:05] #132 closed

[2018-03-29 09:14] ctrlplusb commented on #131
We've received a reply from @wnr on this. We should prefer `uninstall` rather than `removeAllListeners`. Will apply this recommendation asap. 👍

[2018-03-29 09:27] #131 closed

[2018-03-29 09:28] ctrlplusb commented on #131
Released in v2.4.2, thanks for your help in identifying this issue! ❤️

[2018-03-29 18:29] xaviergonz commented on #130
Updated to TS2.8 and sizeme 2.4.x (now the function is not exported as "default" anymore)

[2018-03-29 20:00] danielstaleiny opened #134 "reliese of v2.4.2 break SSR"
v2.4.1 is working without problem with SSR. v2.4.2 throws error window is undefined with SSR.

[code]

errors is shown right after calling I wrap my component. first render goes with SSR. Previous version worked without problems.

[2018-03-29 20:34] danielstaleiny commented on #134
apparently it trows in one of dependency
https://github.com/wnr/element-resize-detector/blob/master/src/reporter.js

[2018-03-30 08:39] ctrlplusb commented on #134
Thanks for the report

[2018-04-05 11:56] pleunv commented on #131
Just a quick heads up, this approach seems to be losing an element reference somewhere along the way. After upgrading from 2.4.1 to 2.4.2 I end up with 2 exceptions being thrown in element-resize-detector:

[code]
[code]

I currently don't really have time to investigate further and went back to 2.4.1, if I find some time I'll dig a bit and file a separate issue.

[2018-04-06 11:46] bytenik commented on #130
@xaviergonz Are you going to PR this?

[2018-04-07 11:04] ramonfritsch commented on #134
better set "2.4.1" on our `package.json` files for now

[2018-04-08 07:15] salimhamed opened #135 "Cannot read property 'onShrink' of undefined"
I'm seeing the following error with version `2.4.1`.

[code]

[2018-04-13 12:26] danielstaleiny commented on #134
alright, this has to be resolved here and made sure downstream dependency is invoke only in browser context.

[2018-04-20 09:38] g4g1 commented on #135
The same here.
`Cannot read property 'onExpand' of undefined`
Issue occurs in Chrome (in FF version 2.4.2 works fine)

[2018-04-20 20:40] chrisy-lili opened #136 "child components don't get rendered when onSize is passed in"
Hi, I created an example here https://codesandbox.io/s/y0k255q7kx. I'm following the example of how to use onSize, but can't figure out why the text "header' isn't rendered when I pass onSize into HeaderWithSize. Can you take a look and point out what I'm missing?

Thanks!

[2018-04-23 16:05] Ribesg opened #137 "Cannot read property 'width' of undefined"
This always ends up happenning at some point when I resize the window, and it stops sizeMe from working until the page is refreshed.

[code]
Happens in
[code]
Here is the result of `getState(element)`:
![image](https://user-images.githubusercontent.com/1339686/39138543-72e7a338-4720-11e8-9b2a-7df5f90f1ab9.png)
So, yeah, `style` isn't there. Is there something I'm doing wrong?

[2018-04-23 18:02] chrisy-lili commented on #137
It happened in our project too. Switching back to v2.4.1 fixed the issue for us temporarily. v2.4.2 might introduced a bug causing this issue.

[2018-04-23 18:42] Ribesg commented on #137
Rolling back to 2.4.1 actually works, so this is a duplicate of #134 and #135

[2018-04-27 09:26] vipcxj commented on #135
hope to be fixed soon. or we can't upgrade

[2018-05-02 12:16] ctrlplusb commented on #136
Thanks 👍

[2018-05-02 12:16] #136 closed

[2018-05-02 12:18] #100 closed

[2018-05-04 06:14] evan-scott-zocdoc commented on #135
I think it's still happening in 2.4.3 unfortunately.

[2018-05-04 06:18] g4g1 commented on #135
Upgrade to 2.4.3 didn't solve this problem.

[2018-05-09 09:44] julienvincent commented on #135
I am getting this error as well as `cannot read property 'onExpand'`. I am using v`2.4.3`

[2018-05-16 09:50] indusoni commented on #135
I am using version 2.4.2 ,getting the same error .
So for now after upgrading,I have to downgrade again.a
Please solve this ASAP,Until the cant upgrade to upper version

[2018-05-16 10:39] indusoni opened #139 "https://github.com/ctrlplusb/react-sizeme/issues/135"
HI ,
I am using 2.4.2 version and getting following two errors

[2018-05-16 10:42] #139 closed

[2018-05-16 10:45] indusoni opened #140 "Cannot read property 'onExpand' of undefined"
HI ,
I am using 2.4.2 version and getting following two errors
1) Uncaught TypeError: Cannot read property 'onExpand' of undefined
    at HTMLDivElement.onExpandScroll (scroll.js:397)
2) Uncaught TypeError: Cannot read property 'onShrink' of undefined
    at HTMLDivElement.onShrinkScroll (scroll.js:401)

there is one similar issue was already logged,but its status is closed.
So logging it again.

[2018-05-17 09:18] ctrlplusb commented on #140
Thanks for the report, could you please provide me with any additional details you believe may help. (e.g. details on OS and Browser, stacktrace) A simple example within https://codesandbox.io/ would be even more awesome.

I have created a base sandbox which you could fork: https://codesandbox.io/s/j2oxov8pny

Thanks!

[2018-05-17 11:57] Hiswe commented on #140
@ctrlplusb  I had also the same issue with `react-sizeme 2.4.3`

It appears for me only route-change with:

- `react-router 4.2.0`
- `react-router-config 1.0.0-beta.4`

although all the sizes are computed correctly before the errors are logged

![image](https://user-images.githubusercontent.com/96121/40175028-0f2a7142-5a01-11e8-8c66-1d454367ea6f.png)

Any bowser-resize or content change  after tho

[2018-05-18 02:49] Hiswe commented on #140
Can't reproduce with `react-router` on the sandbox…

https://codesandbox.io/s/ojplrmj1l5

[2018-05-21 21:15] jtiscione opened #141 "Components sized with react-sizeme disappear"
This component seems to insert a bunch of DIV elements around its children, and one of them is being explicitly styled to have a width and height of zero. Any children inside a component created with sizeMe() will disappear from the screen.

In a file "ScaleDiv.jsx":
[code]

Then in a parent's render() method:
[code]
"HELLO" disappears until I remove the call to sizeMe().

[2018-05-21 23:58] #141 closed

[2018-05-22 14:11] k-i-m commented on #140
I have the exact same issue in versions 2.4.2 and 2.4.3:

[code]
[code]

Downgrade to v 2.4.1 solves the problem for now.

[2018-05-23 09:10] Cinamonas commented on #140
I’ve been seeing this, too. The actual error happens in [element-resize-detector](https://github.com/wnr/element-resize-detector)’s code.

If it’s any help, this is the stack trace:
[code]

[2018-05-23 09:54] ctrlplusb commented on #140
Thanks all for the input 👍

I have release v2.4.4 which includes some optimisations around the binding of element-resize-detector. I am hoping this may resolve the issue.

Please update and let me know if the issue persists. 👍

[2018-05-25 15:49] bbohen commented on #140
Was experiencing this issue and upgrading to v2.4.4 resolved it 👍

[2018-05-25 15:58] ctrlplusb commented on #140
Awesome, thanks for the feedback @bbohen.

I'll close this issue then. 👍

[2018-05-25 15:58] #140 closed

[2018-05-25 16:15] ctrlplusb commented on #98
This is no longer a limitation.

https://codesandbox.io/s/311r2x279m

[2018-05-25 16:15] #98 closed

[2018-05-25 16:16] ctrlplusb commented on #118
This is no longer an issue.

https://codesandbox.io/s/311r2x279m

[2018-05-25 16:16] #118 closed

[2018-05-25 16:18] ctrlplusb commented on #117
Closing for now as not officially supporting this right now.

[2018-05-25 16:18] #117 closed

[2018-05-28 19:27] ctrlplusb commented on #105
Started to flesh out an API: https://codesandbox.io/s/oxkw6xv4z6

[2018-06-15 04:45] vipcxj commented on #135
Is this bug fixed in 2.4.4?

[2018-06-15 13:30] ctrlplusb commented on #135
@vipcxj yep 😀

[2018-06-15 18:17] vipcxj commented on #135
@ctrlplusb Thanks

[2018-06-19 17:06] ctrlplusb commented on #105
Published a new version including a render props pattern based component 🎉

[2018-06-19 17:06] #105 closed

[2018-06-19 17:07] #104 closed

[2018-06-19 17:07] #114 closed

[2018-07-13 02:45] hidai commented on #130
any progress?

[2018-07-13 10:29] sandeep-blackturtle opened #143 "Can't call setState (or forceUpdate) on an unmounted component."
I'm using this library for passing the width to child component like so.

[code]

After re-sizing the dome for checking the responsive ness i'm getting this warnings a lot.

[code]
Please let us know how to handle this.

[2018-07-13 11:06] borremosch opened #144 "Component is not rerenderd on resize"
I am using the react-sizeme library to size my component like this:

[code]

It is working fine, except for the fact that the component is not rerendered when I resize the window. Any help would be greatly appreciated.

[2018-07-13 12:06] borremosch commented on #144
Apparently, the solution does not work on svg tags. By wrapping the svg tag in a div tag, I solved the problem.

[2018-07-13 12:06] #144 closed

[2018-07-13 14:36] ctrlplusb commented on #143
Look at your `Form` component. Line 117.

This is more a React thing. If you are calling `setState` in an async manner - e.g. callbacks, promise chains, setTimeouts, setIntervals etc you should guard that your component has not unmounted already.

Review your code and try to follow a pattern similar to below:

[code]

Hope this helps.

[2018-07-13 14:36] #143 closed

[2018-07-13 14:36] ctrlplusb commented on #130
@hidai open to PRs :)

[2018-07-18 19:57] pinkynrg opened #145 "“failed to execute 'removeChild' on 'Node'” Exception"
I'm getting the following exception in the issue fully described here (i can add details on request):

https://stackoverflow.com/questions/51408036/failed-to-execute-removechild-on-node-exception

[code]

[2018-07-18 20:11] pinkynrg commented on #145
the package I am talking about is called { SingleValue } in 'pnk-react-components'.

[2018-07-19 06:46] ctrlplusb commented on #145
Could you create a codesandbox.io example of this? I believe the issue may be with a dependency.

[2018-07-19 18:47] rameshsunkara commented on #145
I facing the same issue. This helped. Thanks a lot

[2018-07-19 19:10] ctrlplusb commented on #145
Would appreciate a codesandbox.io to reproduce the issue. 👍

I am not seeing this at all at the moment.

[2018-07-19 19:20] pinkynrg commented on #145
I will try my best to do it unfortunately I don't have much time, but since I would like to update the package to the lat major version I will try my best to find some for this. :)

[2018-08-02 19:35] georgerichmond commented on #145
I had this problem when using vegaEmbed, it seems react-sizeme gets upset when the element it's controlling that has been manipulated directly outside of the react lifecycle gets removed.

I found an easy fix was to wrap the externally controlled div with another div, then everything worked fine

[2018-08-08 08:37] drgx opened #148 "Change componentWillReceiveProps implementation"
React will deprecate `componentWillReceiveProps` soon, consider to update the implementation to use `getDerivedStateFromProps`.
https://github.com/ctrlplusb/react-sizeme/blob/master/src/with-size.js#L193

[2018-08-08 08:46] ctrlplusb commented on #148
Hey @drgx - would you be up for creating a PR? :)

[2018-08-09 05:25] drgx commented on #148
Sure.. but my friend already send the PR https://github.com/ctrlplusb/react-sizeme/pull/149 ... haha..

[2018-08-10 09:45] ctrlplusb commented on #148
Merged 👍

[2018-08-10 19:19] #148 closed

[2018-08-16 22:53] RubtsovAV commented on #145
@georgerichmond Thanks a lot! It helped me.

[2018-08-21 08:03] jeznag opened #150 "How do you write tests for components using react-sizeme?"
I'm using react-sizeme within create-react-app and am trying to write tests using jest.

When I try and do a snapshot test, this is the JSON.
[code]

How can I write tests that wait until the initial sizing render has finished? Would also be helpful to see how people write tests that adjust to different viewport widths (see unanswered question: https://stackoverflow.com/questions/46221210/jest-enz

[2018-08-29 19:38] adrienpwd opened #151 "Feature Request: support async rendering"
Hi,

Thank you for this awesome package !

I was wondering if there is a plan to make it support React async rendering in the future, and replace all the `componentWillReceiveProps` methods with the new way.

Cheers,

Adrien

[2018-09-07 14:50] keul commented on #120
I'm not sure if I fall into this issue.

Can you provide an example on the workaround must be set?

[2018-09-07 15:06] keul opened #153 "Explicitly in doc that Size children must be an HTML element"
After a refactoring I found that react-sizeme was not working properly anymore; my `size.width` was 0.

This was my original call (I don't think the HOC version is important): `sizeMe()(App)`

The issue in the end was the composition of my `App` component: before the code change the main element was a `div`, while after that `div` is wrapped inside the the style-components's `StyleSheetManager` an

[2018-09-20 13:05] Izhaki opened #154 "scrollTop is set to (offset) height when using SizeMe."
When using SizeMe, it leads to an `onScroll` event from the wrapped component with `scrollTop` set to the element height:

[code]

console:
[code]

That's incorrect, because the scrollTop is actually `0`.

Note [this note on scrollTop](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollTop):

[2018-09-24 13:36] wisaac407 commented on #130
When will this make it to an npm release?

[2018-10-11 20:56] kaitmore commented on #153
I experienced a similar issue. I was using `<React.Fragment>` as a direct child of `<SizeMe>` which caused an infinite loop in my application.

[2018-10-25 20:29] mwickett commented on #126
I'm also running into this issue - I take it because this was closed, it wasn't addressed? I'm happy to do a PR to add a check here as discussed.

[2018-10-28 00:23] abhikapuria opened #155 "Getting error when using typescript module esnext"
Hi,

I was trying to implement code splitting in my application which has been written using typescript. When in ts.config I have module as commonjs everything works fine but as soon as I change it to esNext I am getting below error,

Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function ra

[2018-11-20 11:54] feimosi opened #156 "<StrictMode> warning"
React `StrictMode` is throwing a warning because of `findDOMNode` usage. Are you considering changing the approach?

[2018-12-05 19:39] mwickett commented on #130
Can we get an NPM release that includes the TS definitions that have been merged? Thanks!

[2018-12-08 22:11] pinkynrg commented on #145
Tee problem seems to be happening only in production (after transpiling the code with webpack).

I'll try to simulate the issue.

[2018-12-10 12:31] niwsa opened #157 "react-sizeme fails to update size on resize event"
Sandbox up at https://codesandbox.io/s/r79nwzzv0n

Did I miss something the way I use sizeme?

[2018-12-11 15:30] pinkynrg commented on #145
abandoned the package and moved to https://www.npmjs.com/package/react-measure too, as it was too time consuming to troubleshoot the issue.

[2018-12-12 01:01] mj1856 commented on #120
Just wanted to share my experience in case it helps others.  I also ran into this, but more than just needing any old div, I wanted to take up the whole width and height of the client area created by the flexbox.  Unfortunately, this did't work so well with Edge (it would grow on resize, but not shrink), until I tried using relative and absolutely positioned divs.  Now it works great in all browse

[2018-12-13 09:38] catXiaoXiao opened #158 "FirstTime render will flicker once in react.Component"
please handle this problem,thanks.
"react": "^16.2.0"

[2018-12-19 23:50] sueyan2018 opened #159 "One issue in getting the height"
I use sizeme to wrap a chart component，and sizeme is inside a grid， but I cannot get the height of the grid，size.height is the height of winWindows , I'm wondering how it can be corrected.
The structure is like this:
<Grid>
      <SizeMe
          monitorHeight
          refreshRate={32}
          render={({ size }) =>

            <LineChart
                data={data2}
                width={siz

[2018-12-21 22:31] mj1856 commented on #159
Maybe the approach I describe [here](https://github.com/ctrlplusb/react-sizeme/issues/120#issuecomment-446421690) would help you?

[2019-01-08 17:16] larrydahooster commented on #158
You can't avoid the flicker. That is caused by how react-sizeme works. In order to know about the height of the parent element, the parent element needs to be rendered first without the child. Once the parent is rendered first, the child can know about it's parent dimensions.

[2019-01-15 08:58] rodinhart opened #160 "Possible memory leak when recreating component with sizeMe"
I have an application that creates and mounts a sized component multiple times, something like:

[code]
 So depending on user actions, flag will toggle multiple times.

The following function caches instances of element-resize-detector:

[code]
(from https://github.com/ctrlplusb/react-sizeme/blob/103dafbcc315b488d9aca2e8a7a9510e5669a382/src/resize-detector.js#L7)

Now, it seems that although there

[2019-02-05 10:34] pitops opened #161 "SizeMe causes re-render when clicking child component"
I have an issue where the child component is canvas based and on **click**, it re-renders the component. Is there any way prevent it from happening?

[2019-02-06 12:02] Teyras opened #162 "Components with adaptive size"
Let's say I have a component with `width: 100%` wrapped with `sizeMe`. Inside this component, I draw a canvas that has the exact same width, but specified in pixels (taken from the injected props). When I enlarge the window, it works as expected - the canvas gets bigger (of course - I don't need to shrink the canvas that makes the parent component wider). Is there a way to make the width adapt to

[2019-02-12 16:29] truesdan commented on #130
@ctrlplusb Is there an upcoming NPM release planned that will include the typescript types? I'd love to use this but don't want to define the types manually in case they change in a future release.

[2019-02-18 07:15] xiechao06 commented on #102
+1, I think the SizeMe component's children function could be provided one more argument: the dom element to be measured, using this element it could be easy to get the paddings. namely:

[code]

[2019-02-25 08:12] basovic88 opened #164 "Typescript and SizeMeOptions: Property 'children' is missing but required in type 'SizeMeOptions""
I have created a component that gets its width and height via SizeMe. The code below works perfectly.
[code]

When I provide `SizeMeOptions` as below:

[code]

It breaks with the following error:

[code]

The type `SizeMeOptions` requires `children` of type `children(props: SizeMeProps): JSX.Element;`. I understand the error, but I can't seem to get to a solution.

[2019-02-25 09:05] basovic88 commented on #164
Update.

I have "solved" this, by adding a dummy lambda to `children` as follows:

[code]

[2019-03-05 04:16] iTonyYo opened #165 "Warning: Functions are not valid as a React child."
It's OK when using the `sizeMe` hoc.

The error below always shows when using `<SizeMe />` (`children` and `render` prop). **Here's an [example](https://codesandbox.io/s/0x6j65928n).**

![image](https://user-images.githubusercontent.com/5499703/53780688-6ebf5300-3f40-11e9-9167-fd7b339df208.png)

[2019-03-18 18:37] ahmadsholehin commented on #100
Sorry for the revive. From my understanding, `WrappedComponent` returns the class of the wrapped component, not the instance.

What do we do if we want to call a function on a mounted instance via ref?

[code]

Am I doing this wrong?

[2019-04-01 20:17] RubtsovAV commented on #145
@ruucm Always a pleasure

[2019-04-11 18:39] kaitmore commented on #150
I have the following code in my jest setup file so it's configured globally and only effects the test environment:

[code]

[2019-04-26 12:31] koprivajakub commented on #130
@ctrlplusb Any update on the issue or can you make a release just with the typings? This would be very helpful.

[2019-04-26 15:20] ctrlplusb commented on #130
Hey all, much apologies for lack of maintenance on this. I am going to do a wide update this weekend. I have developed knowledge of Typescript now via my other project, easy-peasy. This should help me ensure the definitions are solid.

[2019-04-26 16:08] kaielvin commented on #165
`import {SizeMe} from 'react-sizeme';`
NOT
`import SizeMe from 'react-sizeme';`

[2019-04-27 22:27] ctrlplusb commented on #130
This is published. I've added tests to the types and made one minor adjustment to them. 👍

[2019-04-27 22:27] #130 closed

[2019-04-27 23:37] ctrlplusb commented on #145
I think this was fixed with a downstream update on element-resize-detector. I've ensure deps are up to date. Reopen if necessary.

As as side note I may add a recommendation to consider alternatives to this lib under the following cases:

- You only care about modern browsers
- You are using React hooks

My new personal preferred method is to use ResizeDetector with hooks. Its really easy to emula

[2019-04-27 23:37] #145 closed

[2019-04-28 07:01] DoubleFinned commented on #130
I'm still getting the 'could not find declaration file' error on NPM version 2.6.2. Have verified that I've installed 2.6.2 by running `yarn list --pattern react-sizeme`

[2019-04-28 08:21] ctrlplusb commented on #130
Thanks publishing fix

[2019-04-29 16:42] ctrlplusb commented on #156
Happy to accept any PRs for alternatives. :)

For now it's just a warning. Code still works.

[2019-04-30 12:12] #165 closed

[2019-04-30 12:32] ctrlplusb commented on #164
This has been fixed with latest publication of definitions. 👍

[2019-04-30 12:32] #164 closed

[2019-04-30 12:33] ctrlplusb commented on #161
Are you passing a component or a function to the children? Can you give an example please?

[2019-04-30 12:36] ctrlplusb commented on #158
@catXiaoXiao you can pass the option to disable the placeholder (via `noPlaceholder`). This will ensure your actual component is rendered. However, the size values will be null until your component is measured. So you will have to account for this.

[2019-04-30 20:57] ctrlplusb commented on #157
Hey @niwsa - this is a very very strange bug. I have no idea why, but if you only put in the width then the resize events stop firing. If you add a "px" or any other content around the width then events do fire. I'm not sure if this issue is with React or one of my underlying dependencies. I did a large amount of debugging and couldn't see anything specific.

[2019-04-30 20:57] ctrlplusb commented on #151
Is done 👍

[2019-04-30 20:57] #151 closed

[2019-04-30 21:00] ctrlplusb commented on #162
Hey @Teyras

Is there any chance you could throw together a codesandbox.io example?

[2019-05-01 13:10] ctrlplusb commented on #157
Here is your example working:
https://codesandbox.io/s/x7y9xz0l1o

FYI - codesandbox has a minimum width of 498px when I tested, so drag the panel wider than this when testing.

[2019-05-01 13:11] ctrlplusb commented on #150
Good tip @kaitmore - we should add this to the docs.

[2019-05-01 13:23] ctrlplusb commented on #160
Howdy;

I recently made some changes to the way events are uninstalled. Could possibly have been a previous issue. Anyways, I ran the profiler against a throw up app that continuously adds and removes resize instances. It looks like GC is behaving correctly.

<img width="828" alt="Screenshot 2019-05-01 14 22 14" src="https://user-images.githubusercontent.com/12164768/57018830-b8fd4180-6c1c-11e9-8c

[2019-05-01 13:23] #160 closed

[2019-05-01 13:25] ctrlplusb commented on #155
Please ensure you are importing the render props component as:

[code]

[2019-05-01 13:25] #155 closed

[2019-05-01 14:13] ctrlplusb commented on #161
Closing for now. Please provide a codesandbox.io example and I would be happy to debug.

[2019-05-01 14:13] #161 closed

[2019-05-01 14:14] #158 closed

[2019-05-01 14:29] ctrlplusb commented on #109
Not needed anymore. I've switched to a much smaller library.

Old:
https://bundlephobia.com/result?p=react-sizeme@2.6.6

New:
https://bundlephobia.com/result?p=react-sizeme@2.6.7

[2019-05-01 14:29] #109 closed

[2019-05-01 15:49] ctrlplusb opened #166 "React Hooks API proposal"
Thinking of something like the following:

[code]

Things to note:

- You can access the dimensions both inside and outside your hook
- The sizeme options are provided as second argument to hook, and are optional
- The import of the hook is via "react-sizeme/hooks". This was we can avoid the change being a breaking change for everyone, as hooks require React v16.8+. The old API will be unaffected.

[2019-05-02 17:27] niwsa commented on #157
@ctrlplusb Thank you for digging into this :clap: Yes I see the wierd behaviour with the events firing.Will try  finding some spare time to investigate more.

[2019-05-14 03:40] dongjiang1989 opened #168 "TS2349: Cannot invoke an expression whose type lacks a call signature."
const SizedReactLayoutGrid = sizeMe({ monitorWidth: true })(GridWrapper);

TS2349: Cannot invoke an expression whose type lacks a call signature. Type 'typeof import("/data/dongjiang/.jenkins/workspace/grafana_master-ANMYDH2RGGFDAJ7NMI4J473MAL45SMZ2...' has no compatible call signatures.
    at emitError (/data/dongjiang/.jenkins/workspace/grafana_master-ANMYDH2RGGFDAJ7NMI4J473MAL45SMZ2QMSY2XNE2ND

[2019-05-14 07:48] ctrlplusb commented on #168
Can you show me how you are importing sizeMe?

[2019-05-14 19:56] vasturiano commented on #162
Hi @ctrlplusb, thanks for your great work on this lib!

I'm hitting a similar scenario, related to having a responsive item inside a flexbox layout. I understand this is a common pitfall, but I just can't seem to get it to work.

I made an example here: https://codesandbox.io/s/9jrnp207rr

As described by @Teyras, the container adapts to width increases but not decreases.

Any help much appreciate

[2019-05-14 20:06] ctrlplusb commented on #162
Hey @vasturiano,

I added width=100% to your flexGrow div to ensure sizing propagates correctly for this case. 👍

https://codesandbox.io/s/7y8nw2or5q

[2019-05-14 23:14] vasturiano commented on #162
Thanks for the quick reply @ctrlplusb!

I see, though making a flex element `width=100%` will essentially cancel the `flexGrow` effect. That element in reality has other siblings and it should grow to the available remaining width and no further.
After some prodding I discovered that adding `width: 0` to the flexGrow element actually works. It's weird but does produce the desired effect.

Here's t

[2019-05-30 17:45] #168 closed

[2019-07-10 04:01] NNNaix opened #170 "TypeScript definitions: the default export has no compatible call signatures"
Hello, first of all thanks to the contribution of ctrlplusb.
## Problem
Below is my code in a tsx file:
[code]
Then when I use webpack  for build, I get an error like this:
[code]
## Environment
- node version:  6.10.0
- webpack version:  4.19.1
- typescript version : 3.1.3

## Solution
1. **temporary**: replace `import sizeMe from 'react-sizeme'`  with `import { withSize } from 'react-sizeme'` be

[2019-08-21 00:58] loganmay opened #172 "sizeMe HOC does not work correctly with React.Fragment"
I had a some code along the lines of

**MyComponent.jsx**

    import React, { Component } from 'react';
    import sizeMe from 'react-sizeme';

    class MyComponent extends Component {
      // Stuff
      render() {
        console.log(this.props.size);
        return (
          <React.Fragment>
            // JSX
          </React.Fragment>
        )
      }
    }

    export default sizeMe()

[2019-08-21 09:01] ctrlplusb commented on #172
Hey @loganmay, glad you like the lib.

Unfortunately this is a limitation of `react-sizeme`. We can only track a single dom element per instance. I am guessing it _may_ be possible to perform some magic under the hood to bind a track against multiple root dom nodes on a react fragment based component, however, I think this would introduce some complexity and possible issues. I'd prefer if we kept

[2019-09-11 22:16] chrisrichard opened #173 "react-sizeme not hoisting statics"
Typically HOCs will use hoist-non-react-statics to hoist static properties but I don't think react-sizeme is doing this. Might be something that's easy to add...

[2019-09-27 19:52] scottdickerson commented on #150
I am using a library that's using sizeme, and unfortunately it doesn't seem to be picking up the noPlaceholders global if I try and set it in my setupTests.js.  Any ideas?

[2019-10-05 10:08] ctrlplusb commented on #173
Would you be up for a PR? 😇

[2019-10-05 10:10] ctrlplusb commented on #170
My apologies for the delay. I shall look at this soon. 👍

[2019-10-11 10:28] #170 closed

[2019-10-11 10:36] #172 closed

[2019-10-11 10:37] #162 closed

[2019-10-11 10:38] ctrlplusb commented on #159
@sueyan2018 let me know how it went for you. Closing this for now.

[2019-10-11 10:38] #159 closed

[2019-12-02 06:58] spiritwalker-jiang commented on #150
thanks @kaitmore, works like a charm.

[2019-12-02 07:15] spiritwalker-jiang commented on #150
@scottdickerson , I'm not using react-sizeme directly either, it is loaded through another component.  And I don't have such a problem. Maybe the lib you're using gets loaded first before you test kicks in; therefore it is too late to set the global flag? just guess

[2020-01-01 13:22] ghost opened #175 "height doesnt get measured in some cases"
https://codesandbox.io/s/frosty-mcnulty-ymdlt
I'm trying to make a separate desktopView and tabbedView, and to pass width and height from sizeme down to these components as props. For some reason it works on desktopView but on tabbedView only width is measured, this can be seen from console output.
I'm new to web development, so all kinds of advice is welcome.

[2020-01-02 11:17] ctrlplusb commented on #175
I believe it is measuring the height of your `TabbedView` component. You need to surround the elements in your `TabbedView` component with a wrapping html element. The size me tracking only works on a single child element. This may make a difference.

[2020-01-02 21:49] kaarel2X commented on #175
If i change <></> to <div></div> in tabbedView the height starts counting up.
Should i use some other html tag?

[2020-01-02 21:51] kaarel2X commented on #175
If i change `<></>` to `<div></div>`  the height starts counting up.
Should i use some other html tag?

[2020-01-23 11:11] rumeshwick commented on #150
@scottdickerson check where your application's sizeme version and the library's sizeme version is the same. If not `sizeMe.noPlaceholders = true;` will not work. I also ran in to the same problem and after updating the version in to a one version, issue got fixed.

[2020-01-31 19:40] kbrown opened #183 "MEGA Chrome extension breaks sizeme using object strategy with placeholders"
This extension breaks sizeme when using placeholder strategy: https://chrome.google.com/webstore/detail/mega/bigefpfhnfcobdlfbedofhhaibnlghod?hl=en

The wrapped component never displays.  Users are sad.

I'm not sure if MEGA is safe or nefarious. Please don't blame me for introducing this URL into to your life.

[2020-02-03 20:47] kbrown commented on #183
The popup blocker: "Popup Blocker" also exhibits this behavior (with different browser warnings)

[2020-02-03 20:48] kbrown commented on #183
Both of these things are fixed by using the scroll strategy -- here's hoping the reasons we had do go to that no longer exist...

[2020-02-04 18:37] #183 closed

[2020-02-05 09:28] impulse opened #184 "HOC usage is not forwarding refs"
I know it is bad practice to use something like `useImperativeHandle`. Just did some experimenting

Example:
https://codesandbox.io/s/nervous-meadow-5zeo8

Related: https://reactjs.org/docs/forwarding-refs.html#forwarding-refs-in-higher-order-components

[2020-02-15 10:02] DamianRivas commented on #162
Hi @ctrlplusb,

I have a very similar situation to Vasturiano's except I have two siblings with adaptive size. Unfortunately, the `width: 0` trick doesn't work here :(

The problem is the same, it works for increasing size but not decreasing size. After reading through this issue, I tried a few things like giving both siblings `width: 0`, or both siblings `width: 100%`, but I can't get it to work:

[2020-02-15 11:17] DamianRivas commented on #162
Got it! Looks like this workaround works just fine: https://github.com/ctrlplusb/react-sizeme/issues/120#issuecomment-446421690

But I'm confused as to why this double-nesting is necessary in the first place?

Anyway, this should do fine for our PWA layout. Here's the "fixed" example with flex: https://codesandbox.io/s/react-sizeme-flexgrow-responsive-4w5fi

CSS Grid: https://codesandbox.io/s/reac

[2020-04-08 08:59] larrydahooster commented on #102
Need this as well. Is this project still maintained @ctrlplusb ? might work on an implementation of this anyway since I need it for a project

[2020-04-08 09:30] ctrlplusb commented on #102
Yep, still maintained, just haven't need to update it very often as it's quite stable. ☺️

Happy to consider a discussion / PR on the subject. If it doesn't affect performance adversely we can include it.

[2020-04-14 09:58] larrydahooster commented on #102
Thanks for your reply. I will do some research on it. Regarding performance I think it can cause a second render-cycle. It needs to be ensured that it does not result in a endless loop.

The reason for this is:
1. You render the parent content with placeholder (no scrollbars)
2. you render the child content with outer dimeninsions - scrollbars appear,
3. the parent updates it's dimensions -> old w

[2020-04-18 22:33] Kingdutch commented on #157
In case it helps anyone, I dove into this a little bit and detailed my thoughts here: https://gist.github.com/Kingdutch/db2cf90050aa13271fc968d8e87ad259

Don't expect much cohesiveness, I was trying to debug a problem that someone else posted in a discord without having react-sizeme set-up myself. But maybe my thoughts can help someone fix this :D

[2020-04-19 09:54] agarwal commented on #157
A bit more precisely, it's whether or not you create additional arguments to the `createElement` that JSX desugars to. For example, `<div>{size.width + "px"}</div>}` still causes broken behavior.

[2020-04-20 04:57] ctrlplusb commented on #157
Thanks all, some valuable insight which I plan to parse.

The internals are quite stale now as I wrote this ages ago, when I was still a newcomer to React. ☺️ I plan on doing a refresh soon hopefully and will take into account.

I'll also consider the debugability of the code.

Shall ping back here when things progress. 🧚

[2020-04-28 21:07] paynecodes commented on #166
What are your thoughts on the API over here https://github.com/Swizec/useDimensions

[2020-04-29 10:00] ctrlplusb commented on #166
I really love that thanks for the share 💜

[2020-05-02 13:24] kachkaev commented on #166
Also
* `react-use` → `useSize()`
  * [docs](https://streamich.github.io/react-use/?path=/story/sensors-usesize--docs)
  * [source](https://github.com/streamich/react-use/blob/master/src/useSize.tsx)

* `react-use` → `useMeasure()`
  * [docs](https://streamich.github.io/react-use/?path=/story/sensors-usemeasure--docs)
  * [source](https://github.com/streamich/react-use/blob/master/src/useMeasure.ts

[2020-05-06 22:17] wdoug opened #190 "TypeScript types are incomplete"
It appears that the TypeScript type definitions are missing a few things. The two pieces that I noticed are a default export and support for the `onSize` HOC optional prop.

[2020-05-06 22:31] wdoug commented on #190
Whoops. I just realized that I was looking at an earlier version of this code... It looks like it is correct in the current version.

[2020-05-06 22:31] #190 closed

[2020-05-15 13:11] casvil opened #191 "console.error in storybook jest snapshot testing"
The following error keeps appearing when I run jest snapshot testing. It is non-blocking though.

**System:**
[code]

Any ideas what is it or how to solve it?

Thanks!

[2020-06-01 06:25] booxood opened #192 "[Warn] Cannot update a component from a different component."
Warning: Cannot update a component (`App`) while rendering a different component (`SizeMe`).

[2020-06-01 09:13] ctrlplusb commented on #192
Thanks for the reproduction. I'll take a look.

[2020-06-08 02:30] leducquan opened #193 "How to jest mock the size"
Are there any examples on how to mock the size for jest tests?

I'm using the sizeMe()(MyComponent) and expecting the size to come in as a prop. I've tried mocking the getBoundingClientRect but the size.width is still returning undefined.

[2020-08-03 11:59] AdnanBoota commented on #154
Any solution for the scroll Issue? i'm also having it.

[2020-08-04 04:09] Patrick-Ren commented on #156
I just came across the same warning, 1 thing that definitely works is, well, disable strict mode

[2020-09-10 07:45] mirow opened #197 "Width and height remain undefined"
I have a situation where the height and width both remain `undefined`.
The problem seems to stem from the fact that *the element already has a width and height* when the resize listener is added, therefore the size of the element never changes, and in SizeAwareComponent's internal state the values remain `undefined`.

Adding a call to `checkIfSizeChanged(this.domEl)` in `componentDidMount()` seems

[2020-09-10 11:52] mirow commented on #197
I think I figured out the actual problem: the element is empty (no children) in the beginning. It's empty because it is for an ad which is loaded by a separate script (not react). In this case the resizer doesn't work.

I also noticed that if the element contains a text node as the first "element", SizeMe will throw an error message:
[code]
Throws `TypeError: Cannot read property '_erd' of undefin

[2020-09-10 11:52] #197 closed

[2020-09-15 16:05] boatcoder opened #199 "findDOMNode is deprecated in StrictMode"
Started a new CRA to and added withSize like so:

`export default withSize()(App);`

The console is throwing off warnings like this, so Changes they are a coming!
[code]

[2020-09-15 18:41] Jovan27 commented on #199
I have the same issue

[2020-09-16 21:27] moritz-w commented on #199
duplicate of #156

[2020-10-01 08:37] keul commented on #150
Workaround from @kaitmore should be added to the documentation.

[2020-10-01 18:19] AlexanderMatveev commented on #156
Same here

[2020-10-14 15:31] ilanrot90 commented on #193
add this modal to your __mocks__ folder
`import React from 'react';

const sizeMeProps = {
  size: {
    height: 770,
    position: null,
    width: 1200,
  },
};

const sizeMe = (options) => (Component) => {
  return (props) => <Component size={sizeMeProps.size} {...props} />;
};

export const SizeMe = (props) => {
  return props.children(sizeMeProps);
};

export default sizeMe;`

[2020-11-05 19:16] mtmacdonald opened #202 "React 17 support"
Hi, please can we have support for React 17 so I don't get this peer dependency warning upon npm install in my React 17 projects. Thanks!

npm WARN react-sizeme@2.6.12 requires a peer of react-dom@^0.14.0 || ^15.0.0-0 || ^16.0.0 but none is installed. You must install peer dependencies yourself.

[2020-11-18 20:32] modemmute opened #203 "HOC onSize callback alternative usage example not working"
The example presented in the "HOC Usage" / "'onSize' callback alternative usage" is not working.

https://codesandbox.io/s/react-sizeme-test-8wooy

The returned object only contains a value for the width. The height and position are null. Or am I doing something wrong? I tried downgrading the React & React-DOM version back down to 16.8 with the same results. Any help appreciated!

[2020-12-27 10:47] michaelrodov commented on #156
same here

[2021-02-07 13:07] EfstathiadisD opened #206 "Multiple SizeMe components inside one another?"
I have a situation where I have a Parent Component that has a variable width. Based on some external conditions. I want one `<SizeMe>` component attached to that.

Then I have a map over of list of items. I want to attach a second `SizeMe`on each of them and have it display something based on the condition `that the width of the parent minus the width of the child is more than 0`. Else I want to r

[2021-02-11 11:11] Himadu2000 commented on #202
#201 , #204

[2021-02-11 11:18] Himadu2000 opened #207 "Open Collective link is broken"
The open collective link referenced in the,
- [README](https://github.com/ctrlplusb/react-sizeme/blob/master/README.md)
- [FUNDING](https://github.com/ctrlplusb/react-sizeme/blob/master/.github/FUNDING.yml)

Is broken and that following accounts doesn't exist.
[opencollective](https://opencollective.com/controlplusb)

[2021-02-19 13:35] #206 closed

[2021-02-26 16:29] ctrlplusb commented on #207
Thanks for the heads up. 🙏

[2021-02-26 16:32] ctrlplusb commented on #203
You need to add `monitorHeight` to the configuration options.

[code]

The position is never tracked. Sorry that is an artifact from a failed experiment.

[2021-02-26 16:32] #203 closed

[2021-02-26 16:32] ctrlplusb commented on #202
Coming soon. :)

[2021-02-26 17:05] brodybits opened #210 "GitHub CI needed"
It looks to me like Travis CI is no longer triggered. I would highly recommend you consider adding a GitHub action that does the `npm test`.

[2021-02-26 17:37] ctrlplusb commented on #202
Tis done. 🙏

[2021-02-26 17:37] #202 closed

[2021-02-26 17:38] ctrlplusb commented on #175
Yeah, you have to have a root dom element. This is a known restriction with React Sizeme. It needs the root element to be a singular dom element that it can use to monitor.

[2021-02-26 17:38] #175 closed

[2021-02-27 10:38] ctrlplusb commented on #210
Hi @brodybits;

Travis is still triggered, please see: https://travis-ci.org/github/ctrlplusb/react-sizeme

I am however interested in GitHub actions. If you would like to raise a PR to migrate our CI process to GitHub actions I would certainly consider it. 🙏

[2021-03-01 00:06] Himadu2000 commented on #207
You're welcome.

[2021-03-05 13:30] Izhaki commented on #199
This could help? https://medium.com/trabe/getting-rid-of-finddomnode-method-in-your-react-application-a0d7093b2660

[2021-04-03 17:10] TomPlum commented on #193
I'm using TypeScript and did the following.

My Props interface extended the `SizeMeProps`.
I exported with the `withSize()` HOC: `export default withSize()(MyComponent)`.

Then I defined the size props in `MyComponent.test.tsx`.

`const props = {
    size: {
        height: 25,
        width: 70,
    }
};`

Then simply spread them into my component when rendering in the test:

`render(<MyComponen

[2021-04-08 08:25] casvil commented on #191
hi, any possible fix?

[2021-04-14 20:21] alvaro1728 commented on #166
Another useful hook: https://usehooks.com/useWindowSize/

[2021-05-12 20:41] ryandagg commented on #184
I am unable to use this package until this issue is resolved.

[2021-05-26 09:53] devnazir commented on #156
Kumaha Iyeu?

Anyone can resolve this?

[2021-05-31 21:44] Micheille commented on #199
Same here

[2021-06-22 15:31] keul opened #215 "Use Resize Observer?"
This pretty good library carries a not-so-small bundle size change: https://bundlephobia.com/package/react-sizeme@3.0.1

It seems this largely depends on the [element-resize-detector](https://bundlephobia.com/package/element-resize-detector@1.2.2) dependency.

I'm wondering is you ever evaluated a switch to the [Resize Observer API(https://caniuse.com/resizeobserver) for this.

I know this would b

[2021-07-23 12:23] Slava96 opened #216 "Sizable input lost focus"
I have functionalComponent wrapping styledInput (from styled-components) inside (with key property).
When i use it from another component directly, input works as expected (letters added, focus not lost)

But when i wrapped it with hook withSize - it lost focus on each letter append.

What's the problem? And how can i fix it?

[2021-08-11 14:52] william10000 commented on #193
We put react-sizeme.js in the src/__mocks__ directory
[code]

[2021-08-23 07:25] sean-tmg commented on #215
Hi @keul;

It's a fair question. I am open to switching to the Resize Observer API, but for now I intend for this package to exist in order support a wider set of browsers. Once the ecosystem has evolved to a point that we no longer need to support older browsers I may update this package or declare it archived. 🙏

[2021-08-23 07:38] keul commented on #215
@sean-tmg I understand the scope to support wider range of browsers! Just a note: there are some Resize Observer polyfills out there, so in case devs could add them if they really need to support older browsers

[2021-09-18 11:52] jlarmstrongiv commented on #156
Ended up migrating to https://www.npmjs.com/package/react-resize-detector#user-content-refs

[2022-04-05 14:04] amber-cd opened #221 "Feature Request: clientHeight, offsetHeight and scrollHeight"
We use this library extensively, and it is extremely useful, but it would be useful to be able to access both the height that a SizeMe-wrapped container takes up (its clientHeight and offsetHeight, depending on the inclusion of the scrollbar and border) and the size that the contents of the container take up (the scrollHeight). I think this can be accessed by the use of two separate SizeMes around

[2022-04-25 09:46] pidupuis commented on #191
Hi @casvil, have you found a fix?

[2022-09-06 16:37] syuzichachyan commented on #199
Any update on this?

[2022-09-16 19:42] elizabethhyer opened #226 "Placeholder size not updating until a state change"
I have an app that uses sizeme and CSS grid. When the app first renders (and on a hard or soft reload) the component that uses sizeme is squished, widthwise. It seems like the placeholder is taking its size estimate from grid.

The problem is that the size doesn't ever update until there's been a state change. Right now, as a work around, I'm updating state whenever the mouse enters the component,

[2022-11-04 18:32] nohren opened #227 "React size me parent height collapsed when rendering with placeholder"
With placeholder, and with no explicit ancestor height, and with height relying on the dimensions of the child component, why is height settling at 0?

Of note, without placeholder height comes in correct, and with placeholder and display: "table" height also comes in correct.

https://codesandbox.io/s/modest-sid-jiisp9?file=/src/App.js

Ok, I see that changing height from size.height to "100%" fi